*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

​.img {
  float: right;
}

body,
html {
  height: 100%;
  margin: 0;
}

.news {
  display: block;
  height: 50px;
  font-size: 15px;
  color: white;
  background-color: black;
  padding: 15px;
  text-align: center;
}

.dropdown1 {
  position: absolute;
  top: 130px;
  left: 43px;
  height: 300px;
  width: 90vw;
  display: none;
  justify-content: center;
  z-index: 2;
  background-color: blanchedalmond;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown2 {
  position: absolute;
  top: 130px;
  left: 43px;
  height: 300px;
  width: 90vw;
  display: none;
  justify-content: center;
  z-index: 2;
  background-color: blanchedalmond;
}

.click3:hover .dropdown2 {
  display: flex;
}

.click2:hover .dropdown1 {
  display: flex;
}

.col1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 175px;
  padding: 15px 0 15px 15px;
  text-align: center;
}

.col1 .header {
  margin: 10px 10px 30px 10px;
} 

.col1 div {
  margin: 5px;
}

.col2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 125px;
  padding: 15px 15px 15px 0;
  text-align: center;
}

.col2 .header {
  margin: 10px 10px 30px 10px;
}

.col2 div {
  margin: 5px;
}

.col3 {
  display: flex;
  align-items: center;
}

.col3 img{
  height: 95%;
  width: auto;
}

.col4 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 175px;
  padding: 15px 0 15px 15px;
  text-align: center;
}

.col4 div {
  margin: 10px;
}

.col5 {
  display: flex;
  align-items: center;
}

.col5 img {
  height: 95%;
  width: auto;
}

.navbar {
  margin: 5px;
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 100vw;
  justify-content: space-evenly;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 70%;
  padding: 5px;
}

.barrel {
  height: 30px;
  margin: 15px;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 22%;
  padding: 5px ;
}

.search-icon {
  height: 30px;
  margin: 15px 10px 15px 10px;
}

.underline1 {
  visibility: hidden;
}

.container:hover .underline1{
  visibility: visible;
  width: 83%;
}

.underline2 {
  visibility: hidden;
}

.container:hover .underline2 {
  visibility: visible;
  width: 32%;
}

.underline3 {
  visibility: hidden;
}

.container:hover .underline3{
  visibility: visible;
  width: 75%;
}

.underline4 {
  visibility: hidden;
}

.container:hover .underline4 {
  visibility: visible;
  width: 75%;
}

.underline5 {
  visibility: hidden;
  width: 40%;
}

.underline6 {
  visibility: hidden;
  width: 85%;
}

.shopping-bag {
  height: 30px;
  margin: 15px 10px 15px 10px;
}

.footer {
  display: block;
  position: relative;
  bottom: 0;
  height: 50px;
  width: 100vw;
  padding: 15px;
  margin-top: 10px;
  background-color: black;
  color: aliceblue;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(11, 1fr);
  gap: 10px;
  margin: auto;
  height: 100%;
  width: 90%;
}

.one {
  grid-column: 1 / 5;
  grid-row: 1 / 4;
  border: 1px black solid;
}

.two {
  grid-column: 1 / 3;
  grid-row: 4 / 6;
  border: 1px black solid;
}

.wrapper img {
  height: 100%;
  width: 100%;
}

.three {
  grid-column: 3 / 5;
  grid-row: 4 / 8;
  border: 1px black solid;
}

.four {
  grid-column: 1 / 2;
  grid-row: 6 / 10;
  border: 1px black solid;
}

.five {
  grid-column: 2 / 3;
  grid-row: 6 / 10;
  border: 1px black solid;
}

.six {
  grid-column: 3 / 5;
  grid-row: 8 / 10;
  border: 1px black solid;
}

.seven {
  grid-column: 1 / 2;
  grid-row: 10 / 12;
  border: 1px black solid;  
}

.eight {
  grid-column: 2 / 5;
  grid-row: 10 / 12;
  border: 1px black solid;
}


